<div class="row">
    <div class="col-md-12">
        <h2 class="mt-1 mb-5">Re-Fill Balance Form</h2>
        <div class="col-md-6">
            <form [formGroup]="reFillForm" (ngSubmit)="submit()">
                <h4 *ngIf="operator"><strong>Operator: </strong> {{ operator.name }}</h4>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input formControlName="phone" id="phone" type="text" class="form-control" phoneMask>
                    <div *ngIf="saving && reFillForm.controls.phone.errors" class="invalid-feedback">
                        <div *ngIf="reFillForm.controls.phone.errors.required">Phone is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input formControlName="amount" id="amount" type="text" class="form-control" currencyMask />
                    <div *ngIf="saving && reFillForm.controls.amount.errors" class="invalid-feedback">
                        <div *ngIf="reFillForm.controls.amount.errors.required">Amount is required</div>
                    </div>
                    <div *ngIf="reFillForm.controls.amount.errors" class="invalid-feedback">
                        <div *ngIf="reFillForm.controls.amount.errors.max">maximum 1000 value is allowed</div>
                        <div *ngIf="reFillForm.controls.amount.errors.min">minimum 1 value is allowed</div>
                    </div>
                </div>

                <button class="btn btn-primary mr-4" type="submit" [disabled]="!reFillForm.valid">Submit</button>
                <button class="btn btn-secondary" (click)="goToMainPage();">Cancel</button>
            </form>
        </div>
    </div>
</div>