<div class="row">
    <div class="col-md-12">
        <h2 class="mt-1 mb-5">List Of Supported Telecom Operators </h2>
        <ul class="list-group mt-5">
            <li class="list-group-item" *ngFor="let operator of operators" (click)="selectOperator(operator)">{{operator.name}}</li>
        </ul>
    </div>
</div>