<div class="container">
    <div class="mt-1 mb-1 col-md-12 alert-box">
        <ngb-alert #alertMessage *ngIf="alert" class="mb-0" [type]="alert.type" (closed)="alert = null">{{ alert.message }}
        </ngb-alert>
    </div>
    <router-outlet></router-outlet>
</div>