<html>

    <h3>String: {{characterString}}</h3>
    <h3>Finding Characters: <div>
        <p>Character 1 ==> {{characterA}}</p>
        <p>Character 2 ==> {{characterB}}</p>
    </div></h3>
    <p><strong>Position: </strong> {{characterPosition}}</p>
</html>